.upload-wrapper {
    position: relative;
    display: flex;
    gap: .75rem;
    align-items: center;
    padding-block: .25rem;
    
    input {
        position: absolute;
        inset: 0;
        opacity: 0;

        cursor: pointer;
        z-index: 1;
    }

    .input-box-wrapper {
        background-color: var(--shape-button);
        border: 1px solid transparent;
        border-radius: .5rem;
        padding: .75rem;

        display: flex;
        gap: .5rem;
        align-items: center;

        img {
            width: 1rem;
            height: 1rem;
        }

        color: var(--text-heading);
        font: var(--font-body-sm);
        font-weight: 600;
    }

    span {
        font: var(--font-body-md);
        color: var(--text-body);

    }

    .no-file-selected {
        color: var(--input-placeholder);
    }

    &:hover {
        .input-box-wrapper {
            background-color: var(--shape-hover);
        }
    }

    &:focus-within {
        .input-box-wrapper {
            border-color: var(--brand-light);
        }
    }
}